################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.git-credentials

# terraform-files
*lock.hcl
*.tfstate
*.tfstate.backup
*.plan
*.txt
*.hcl


# terraform-folders
*import
.terraform/
*modules/prod
*modules/shared
*modules/uat
*modules/busniess_analytics
*modules/database
*modules/integration
*modules/networking
*modules/security
*modules/storage
*modules/compute
*modules/management/*.tf*
*.yml
