################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.git-credentials

# terraform-files
*lock.hcl
*.tfstate
*.tfstate.backup
*.plan
*.txt
*.hcl


# terraform-folders
*import
.terraform/
*modules/prod
*modules/shared
*modules/uat
*modules/analytics/fab*
*modules/compute
*modules/database
*modules/integration
*modules/security
*modules/storage
*modules/networking/applicat*
*modules/networking/*.tf*
*modules/web
*.yml
